{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "prettier",
    "import"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "moudle"
  },
  "rules": {
    "import/extensions": "off",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "linebreak-style": "off",
    "import/no-unresolved": "off"
  }
}
