{
  "extends": ["airbnb"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "import/extensions": "off",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "linebreak-style": "off",
    "import/no-unresolved": "off",
    "consistent-return": "off"
  }
}
