logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
*.swp
*.lock
!.autod.conf.js
.history
package-lock.json

test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
